.ui.message {
  position: relative;
  min-height: 1em;
  margin: 1em !important;
  background: #f8f8f9;
  padding: 1em 1.5em;
  line-height: 1.4285em;
  color: rgba(0,0,0,.87);
  transition: opacity .1s ease,color .1s ease,background .1s ease,box-shadow .1s ease;
  border-radius: .28571429rem;
  box-shadow: 0 0 0 1px rgba(34,36,38,.22) inset, 0 0 0 0 transparent;
}

.loader {
  border: 5px solid #e40c2b;
  border-radius: 50%;
  border-top: 5px solid #e40c2b;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}